.DynamicStructureOneOf {
    position: relative;

    width: fit-content;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 5px 10px;

    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    box-shadow: var(--material-paper-shadow);
}

.DynamicStructureOneOf-Skeleton {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: var(--material-radius-s);

    animation: skeleton-loading 1s linear infinite forwards;
}

.DynamicStructureOneOf-Loading {
    margin-left: 10px;

    animation: loading 1s linear infinite forwards;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes skeleton-loading {
    0% {
        background-color: hsla(201, 20%, 80%, .415);
    }

    100% {
        background-color: hsl(200, 20%, 95%, .415);
    }
}
