.DynamicStructureCut {
    display: flex;
    align-items: center;
}

.DynamicStructureCut-Loading {
    margin-left: 10px;

    animation: loading 1s linear infinite forwards;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
